<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="pl.tkowalcz.tjahzi.log4j2">
<Loggers>
  <Root level="TRACE">
    <AppenderRef ref="Console"/>
    <AppenderRef ref="Loki"/>
  </Root>
</Loggers>

<appenders>
  <Console name="Console" target="SYSTEM_OUT">
    <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
  </Console>

  <Loki name="Loki" bufferSizeMegabytes="64">
    <host>localhost</host>
    <port>3100</port>

    <ThresholdFilter level="ALL"/>
    <PatternLayout>
      <Pattern>%X{tid} [%t] %d{MM-dd HH:mm:ss.SSS} %5p %c{1} - %m%n%exception{full}</Pattern>
    </PatternLayout>

    <LogLevelLabel>log_level</LogLevelLabel>
  </Loki>
</appenders>
</configuration>
