# Key files
*.pem
!test-clients/src/main/resource/genesis.pem
!test-clients/yahcli/localhost/keys/*.pem
!hapi-utils/src/test/resources/vectors/genesis.pem
!hedera-node/data/onboard/devGenesisKeypair.pem
*.pass
!test-clients/yahcli/localhost/keys/*.pass
*.words
*.hexed

# Yahcli
test-clients/yahcli/assets/yahcli.jar
test-clients/yahcli/localhost/sysfiles
test-clients/yahcli/localhost/accounts
test-clients/yahcli/localhost/tokens
test-clients/yahcli/localhost/topics
test-clients/yahcli/cost-snapshots
test-clients/yahcli/run/test/local/

# VIM
*.sw*

# Docker Compose runtime
compose-network/

# IDEA files
.idea
*.iml
.settings

# Logs/crash data
logs/
test-clients/devops-utils/validation-scenarios/logs/
test-clients/cost-snapshots
*.log
hs_err_pid*

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

*.sh
!run/generate-changelog.sh
!run/new-release-branch.sh
!run/gcr-*.sh
!run/reset-data-saved-from.sh
!hapi-proto/add-copyright.sh
!hapi-proto/gen-proto-docs.sh
!hedera-node/data/backup/*.sh
!hedera-node/configuration/compose/init.db/*.sh
!test-clients/yahcli/run/*.sh
!test-clients/yahcli/assets/*.sh
!test-clients/yahcli/run/test/local/*.sh
*.json
!hapi-fees/src/main/resources/*.json
!hapi-fees/src/test/resources/*.json
!hapi-utils/src/test/resources/bootstrap/*.json
!hapi-utils/src/test/resources/sysfiles/*.json
!hedera-node/src/test/resources/fees/feeSchedules.json
!hedera-node/src/test/resources/legacyAccounts.json
!hedera-node/src/test/resources/bootstrap/*.json
!hedera-node/src/main/resources/*.json
!hedera-node/configuration/**/*.json
!test-clients/src/main/resource/FeeSchedule.json
!test-clients/src/main/resource/testSystemFiles/*.json
!test-clients/yahcli/run/test/local/assets/*.json
.circleci/*.yml-excerpt
hedera-node/data/jasperdb/
hedera-node/temp/
hedera-node/swirlds-tmp/
hedera-node/*.csv
hedera-node/swirlds.jar
hedera-node/build.sh
hedera-node/settingsUsed.txt
hedera-node/data/accountBalances/
hedera-node/database/
hedera-node/databases/
hedera-node/data/apps/
hedera-node/data/diskFs/
hedera-node/data/config/*.bin
hedera-node/data/config/*.properties
hedera-node/data/lib/
hedera-node/data/onboard/afterMigration.csv
hedera-node/data/onboard/afterMigration_created.csv
hedera-node/data/onboard/afterMigration_updated.csv
hedera-node/data/onboard/beforeMigration.csv
hedera-node/data/onboard/exchangeRate.txt
hedera-node/data/onboard/exportedAccount.txt
hedera-node/data/onboard/feeSchedule.txt
hedera-node/data/onboard/GenesisPub32Key.txt
hedera-node/data/recordstreams/
hedera-node/data/saved/
hedera-node/data/jdb/
hedera-node/database/
hedera-node/output/
hedera-node/target/
hedera-node/src/test/resources/diskFs
hedera-node/src/test/resources/upgrade
hedera-node/forensics
hedera-node/pgdata
hedera-node/temp
!hedera-node/forensics/start-investigation.py
hapi-proto/target/
hapi-proto/src/main/proto/doc/index.html
test-clients/logs/
test-clients/puv/*.jar
test-clients/persistent-entities/
test-clients/keys/
test-clients/*.bin
test-clients/output/
test-clients/devops-utils/validation-scenarios/fees/
test-clients/devops-utils/validation-scenarios/output/
test-clients/devops-utils/validation-scenarios/cost-snapshots/
test-clients/devops-utils/validation-scenarios/ValidationScenarios.jar
test-clients/src/main/resource/TestnetStartupAccount.txt
test-clients/src/main/resource/MainnetStartupAccount.txt
test-clients/src/main/resource/StableTestnetStartupAccount.txt
test-clients/src/main/resource/StableTestnetAccount50StartupAccount.txt
test-clients/saved/
test-clients/target/
test-clients/record-snapshots/
test-clients/remote-system-files/*.bin
test-clients/remote-system-files/*.txt
test-clients/src/main/resource/Mainnet*StartUp.txt
test-clients/src/main/resource/MainNet*StartUp.txt
test-clients/src/main/resource/TestNet*StartUp.txt
test-clients/src/main/resource/testfiles/*.abi
test-clients/devops-utils/validation-scenarios/files/*-api-permission.properties
test-clients/devops-utils/validation-scenarios/files/*-application.properties
test-clients/devops-utils/validation-scenarios/files/*-exchangeRates.json

# Maven
target

# Gradle
.gradle
build

# Mac system
.DS_Store

# SonarQube
.scannerwork

.project
