# Key files
*.pem
!hedera-node/data/onboard/devGenesisKeypair.pem

# VIM
*.sw*

# Docker Compose runtime
compose-network/

# IDEA files
.idea
*.iml
.settings

# Logs/crash data
logs/
test-clients/devops-utils/validation-scenarios/logs/
*.log
hs_err_pid*

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

*.sh
!run/generate-changelog.sh
!run/new-release-branch.sh
!hapi-proto/add-copyright.sh
!hapi-proto/gen-proto-docs.sh
!hedera-node/data/backup/*.sh
!hedera-node/configuration/compose/init.db/*.sh
*.json
!hedera-node/src/test/resources/legacyAccounts.json
.circleci/*.yml-excerpt
hedera-node/temp/
hedera-node/*.csv
hedera-node/swirlds.jar
hedera-node/build.sh
hedera-node/settingsUsed.txt
hedera-node/data/accountBalances/
hedera-node/data/apps/
hedera-node/data/diskFs/
hedera-node/data/config/*.bin
hedera-node/data/config/*.properties
hedera-node/data/lib/
hedera-node/data/onboard/afterMigration.csv
hedera-node/data/onboard/afterMigration_created.csv
hedera-node/data/onboard/afterMigration_updated.csv
hedera-node/data/onboard/beforeMigration.csv
hedera-node/data/onboard/exchangeRate.txt
hedera-node/data/onboard/exportedAccount.txt
hedera-node/data/onboard/feeSchedule.txt
hedera-node/data/onboard/GenesisPub32Key.txt
hedera-node/data/recordstreams/
hedera-node/data/saved/
hedera-node/output/
hedera-node/target/
hedera-node/src/test/resources/diskFs
hedera-node/forensics
hedera-node/pgdata
hedera-node/temp
!hedera-node/forensics/start-investigation.py
hapi-proto/target/
hapi-proto/src/main/proto/doc/index.html
evm-adapter/output/
evm-adapter/target/
test-clients/logs/
test-clients/puv/*.jar
test-clients/persistent-entities/
test-clients/keys/
test-clients/*.bin
test-clients/output/
test-clients/devops-utils/validation-scenarios/fees/
test-clients/devops-utils/validation-scenarios/output/
test-clients/devops-utils/validation-scenarios/cost-snapshots/
test-clients/devops-utils/sysfiles-update/svctools.tar.gz
test-clients/devops-utils/sysfiles-update/certs/*.crt
test-clients/devops-utils/sysfiles-update/run/SysFilesUpdate.jar
test-clients/devops-utils/validation-scenarios/ValidationScenarios.jar
test-clients/devops-utils/sysfiles-update/b64GenesisKeyPair.txt
test-clients/src/main/resource/TestnetStartupAccount.txt
test-clients/src/main/resource/MainnetStartupAccount.txt
test-clients/src/main/resource/StableTestnetStartupAccount.txt
test-clients/src/main/resource/StableTestnetAccount50StartupAccount.txt
test-clients/saved/
test-clients/target/
test-clients/record-snapshots/
test-clients/remote-system-files/*.bin
test-clients/remote-system-files/*.txt
test-clients/src/main/resource/Mainnet*StartUp.txt
test-clients/src/main/resource/MainNet*StartUp.txt
test-clients/src/main/resource/TestNet*StartUp.txt
test-clients/src/main/resource/testfiles/*.abi
test-clients/devops-utils/validation-scenarios/files/*-api-permission.properties
test-clients/devops-utils/validation-scenarios/files/*-application.properties
test-clients/devops-utils/validation-scenarios/files/*-exchangeRates.json

target

# Mac system
.DS_Store

# SonarQube
.scannerwork

.project
