# VIM
*.sw*

# Docker Compose runtime
compose-network/

# IDEA files
.idea
*.iml
.settings

# Logs/crash data
*.log
hs_err_pid*

.circleci/*.yml-excerpt
hedera-node/*.sh
hedera-node/*.csv
hedera-node/build.sh
hedera-node/settingsUsed.txt
hedera-node/data/accountBalances/
hedera-node/data/apps/
hedera-node/data/config/*.bin
hedera-node/data/config/*.properties
hedera-node/data/lib/
hedera-node/data/onboard/afterMigration.csv
hedera-node/data/onboard/afterMigration_created.csv
hedera-node/data/onboard/afterMigration_updated.csv
hedera-node/data/onboard/beforeMigration.csv
hedera-node/data/onboard/exchangeRate.txt
hedera-node/data/onboard/exportedAccount.txt
hedera-node/data/onboard/feeSchedule.txt
hedera-node/data/onboard/GenesisPub32Key.txt
hedera-node/data/recordstreams/
hedera-node/data/saved/
hedera-node/output/
hedera-node/target/
hedera-node/forensics
hedera-node/pgdata
!hedera-node/forensics/start-investigation.py
hapi-proto/target/
hapi-proto/src/main/proto/doc/index.html
evm-adapter/output/
evm-adapter/target/
test-clients/*.bin
test-clients/output/
test-clients/devops-utils/validation-scenarios/output/
test-clients/devops-utils/validation-scenarios/keys/*.pem
!test-clients/devops-utils/validation-scenarios/keys/localhost-account2.pem
!test-clients/devops-utils/validation-scenarios/keys/testnet-account982.pem
!test-clients/devops-utils/validation-scenarios/keys/testnet-file210905.pem
test-clients/devops-utils/validation-scenarios/files/*.txt
!test-clients/devops-utils/validation-scenarios/files/MrBleaney.txt
test-clients/devops-utils/validation-scenarios/contracts/
test-clients/devops-utils/sysfiles-update/svctools.tar.gz
test-clients/devops-utils/sysfiles-update/defaultSysFile.pem
test-clients/devops-utils/sysfiles-update/certs/*.crt
test-clients/devops-utils/sysfiles-update/run/SysFilesUpdate.jar
test-clients/devops-utils/sysfiles-update/b64GenesisKeyPair.txt
test-clients/src/main/resource/mainnet-account950.txt
test-clients/src/main/resource/test-KeyStore-50.pem
test-clients/saved/
test-clients/target/
test-clients/record-snapshots/
test-clients/remote-system-files/*.bin
test-clients/remote-system-files/*.txt
test-clients/src/main/resource/MainNet*StartUp.txt
test-clients/src/main/resource/TestNet*StartUp.txt
test-clients/src/main/resource/testfiles/*.abi

target

# Mac system
.DS_Store

# SonarQube
.scannerwork

.project
