{
  "releaseRules": [
    { "breaking": "true", "release": "minor"}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "branches":[
    {
      "name": "14967-git-semver-test-branch"
    },
    {
      "name": "main"
    },
    {
      "name": "temp/build-*"
    },
    {
      "name": "release/([0-9]+).([0-9]+)",
      "channel": "${name.replace(/release\\//g, '').split('.')[0]}.${name.replace(/release\\//g, '').split('.')[1]}.x",
      "range": "${name.replace(/release\\//g, '').split('.')[0]}.${name.replace(/release\\//g, '').split('.')[1]}.x"
    }
  ]
}