{
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "verifyRelease": [
    [
      "@semantic-release/exec",
      { "cmd": "echo ${nextRelease.version} > VERSION" }
    ]
  ],
  "prepare": [
    [
      "@semantic-release/exec",
      { "cmd": "./gradlew versionAsSpecified --scan -PnewVersion=${nextRelease.version}" }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "gradle.properties"
        ]
      }
    ]
  ],
  "branches":[
    {
      "name": "main", "develop", "semantic-release-workflow-update"
    },
    {
      "name": "release/([0-9]+).([0-9]+)",
      "channel": "${name.replace(/release\\//g, '').split('.')[0]}.${name.replace(/release\\//g, '').split('.')[1]}.x",
      "range": "${name.replace(/release\\//g, '').split('.')[0]}.${name.replace(/release\\//g, '').split('.')[1]}.x"
    },
    {
      "name": "alpha/*",
      "prerelease": "alpha",
      "channel": "alpha"
    },
    {
      "name": "ci/*",
      "prerelease": "alpha",
      "channel": "alpha"
    },
    {
      "name": "beta/*",
      "prerelease": "beta",
      "channel": "beta"
    },
    {
      "name": "rc/*",
      "prerelease": "rc",
      "channel": "rc"
    }
  ]
}