<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<Loggers>
  <Root level="DEBUG">
    <AppenderRef ref="Console"/>
    <AppenderRef ref="RollingFile"/>
  </Root>
</Loggers>

<appenders>
  <Console name="Console" target="SYSTEM_OUT">
    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %-4L %c{1} - %m{nolookups}%n"/>
  </Console>

  <RollingFile name="RollingFile" fileName="example-apps/swirlds-platform-base-example/out/logs/swirlds-platform-base-example.log"
    filePattern="example-apps/swirlds-platform-base-example/out/logs/swirlds-platform-base-example-%d{yyyy-MM-dd}-%i.log">
    <PatternLayout>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %-4L %c{1} - %m{nolookups}%n</pattern>
    </PatternLayout>
    <Policies>
      <SizeBasedTriggeringPolicy size="10 MB"/>
    </Policies>
    <DefaultRolloverStrategy max="5"/>
  </RollingFile>
</appenders>
</configuration>