*.iml
*.md
*.sw*
*.csv

mvnw*
LICENSE*

docs/
hapi-proto/target/
hedera-node/data/lib/
hedera-node/data/recordstreams/
hedera-node/data/blockStreams/
hedera-node/data/accountBalances/
hedera-node/data/saved/
hedera-node/databases/
hedera-node/target/
hedera-node/output/
test-clients/target/
test-clients/devops-utils/
test-clients/system-files/
test-clients/sysfiles-update/

.java-version
