<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="600">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %-4L %c{1} - %m{nolookups}%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="output/hgcaa.log"
                     filePattern="output/hgcaa.log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %-4L %c{1} - %m{nolookups}%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="QueriesRollingFile" fileName="output/queries.log"
                     filePattern="output/queries.log-%d{yyyy-MM-dd}-%i.log">
            <BurstFilter level="INFO" rate="50" maxBurst="500"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %-4L %c{1} - %m{nolookups}%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="fileLog" fileName="output/swirlds.log"
                     filePattern="output/swirlds.log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-8sn %-5p %-16marker &lt;%t&gt; %c{1}: %msg{nolookups}%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <!-- <AppenderRef ref="Console"/> -->
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="com.swirlds" level="INFO" additivity="false">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="QueriesRollingFile" />
            <AppenderRef ref="fileLog" />
        </Logger>
    </Loggers>
</Configuration>