##
# Copyright (C) 2022-2023 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: "Z-Platform XF: JRS Daily (Interval: 1)"
on:
  workflow_dispatch:
    inputs:
      ref:
        description: "The branch, tag or SHA to checkout."
        required: true
        type: string
      branch-name:
        description: ""
        required: false
        type: string
      concurrency-group:
        description: "The concurrency group name to limit simultaneous workflows."
        required: false
        type: string

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.event.inputs.concurrency-group || format('{0}-{1}-flow-jrs-daily-interval-groups', github.ref_name, github.sha) }}

# Panel Definition & Timings:
#   "configs/suites/daily/4N/GCP-Daily-Basic-4N.json"   ----            100m *26  ^42
#   "configs/suites/daily/4N/GCP-Daily-NFT-4N.json"     ----            200m      ^29        -55
#   "configs/suites/daily/4N/GCP-Daily-FCM-4N.json"     ----            215m *39  ^50
#   "configs/suites/daily/4N/GCP-Daily-Misc-4N.json"    ----             25m *12  ^55
#   "configs/suites/daily/4N/GCP-Daily-Hotspot-4N.json" ----             64m *20  ^53
#   TOTAL RUN TIME:             604 minutes, 10.06 hours                     *97  ^229  =326 -55 ==> 271
jobs:
  basic:
    name: Basic
    uses: ./.github/workflows/zxc-jrs-regression.yaml
    with:
      ref: ${{ github.event.inputs.ref }}
      branch-name: ${{ github.event.inputs.branch-name }}
      panel-config: "configs/suites/daily/4N/GCP-Daily-Basic-4N.json"
    secrets:
      access-token: ${{ secrets.PLATFORM_GH_ACCESS_TOKEN }}
      jrs-ssh-user-name: ${{ secrets.PLATFORM_JRS_SSH_USER_NAME }}
      jrs-ssh-key-file: ${{ secrets.PLATFORM_JRS_SSH_KEY_FILE }}
      gcp-project-number: ${{ secrets.PLATFORM_GCP_PROJECT_NUMBER }}
      gcp-sa-key-contents: ${{ secrets.PLATFORM_GCP_KEY_FILE }}
      slack-api-token: ${{ secrets.PLATFORM_SLACK_API_TOKEN }}
  nft:
    name: NFT
    uses: ./.github/workflows/zxc-jrs-regression.yaml
    with:
      ref: ${{ github.event.inputs.ref }}
      branch-name: ${{ github.event.inputs.branch-name }}
      panel-config: "configs/suites/daily/4N/GCP-Daily-NFT-4N.json"
    secrets:
      access-token: ${{ secrets.PLATFORM_GH_ACCESS_TOKEN }}
      jrs-ssh-user-name: ${{ secrets.PLATFORM_JRS_SSH_USER_NAME }}
      jrs-ssh-key-file: ${{ secrets.PLATFORM_JRS_SSH_KEY_FILE }}
      gcp-project-number: ${{ secrets.PLATFORM_GCP_PROJECT_NUMBER }}
      gcp-sa-key-contents: ${{ secrets.PLATFORM_GCP_KEY_FILE }}
      slack-api-token: ${{ secrets.PLATFORM_SLACK_API_TOKEN }}
    needs:
      - basic
    if: ${{ !cancelled() && always() }}
  fcm:
    name: FCM
    uses: ./.github/workflows/zxc-jrs-regression.yaml
    with:
      ref: ${{ github.event.inputs.ref }}
      branch-name: ${{ github.event.inputs.branch-name }}
      panel-config: "configs/suites/daily/4N/GCP-Daily-FCM-4N.json"
    secrets:
      access-token: ${{ secrets.PLATFORM_GH_ACCESS_TOKEN }}
      jrs-ssh-user-name: ${{ secrets.PLATFORM_JRS_SSH_USER_NAME }}
      jrs-ssh-key-file: ${{ secrets.PLATFORM_JRS_SSH_KEY_FILE }}
      gcp-project-number: ${{ secrets.PLATFORM_GCP_PROJECT_NUMBER }}
      gcp-sa-key-contents: ${{ secrets.PLATFORM_GCP_KEY_FILE }}
      slack-api-token: ${{ secrets.PLATFORM_SLACK_API_TOKEN }}
    if: ${{ !cancelled() && always() }}
  misc:
    name: Misc
    uses: ./.github/workflows/zxc-jrs-regression.yaml
    with:
      ref: ${{ github.event.inputs.ref }}
      branch-name: ${{ github.event.inputs.branch-name }}
      panel-config: "configs/suites/daily/4N/GCP-Daily-Misc-4N.json"
    secrets:
      access-token: ${{ secrets.PLATFORM_GH_ACCESS_TOKEN }}
      jrs-ssh-user-name: ${{ secrets.PLATFORM_JRS_SSH_USER_NAME }}
      jrs-ssh-key-file: ${{ secrets.PLATFORM_JRS_SSH_KEY_FILE }}
      gcp-project-number: ${{ secrets.PLATFORM_GCP_PROJECT_NUMBER }}
      gcp-sa-key-contents: ${{ secrets.PLATFORM_GCP_KEY_FILE }}
      slack-api-token: ${{ secrets.PLATFORM_SLACK_API_TOKEN }}
    if: ${{ !cancelled() && always() }}
  hotspot:
    name: Hotspot
    uses: ./.github/workflows/zxc-jrs-regression.yaml
    with:
      ref: ${{ github.event.inputs.ref }}
      branch-name: ${{ github.event.inputs.branch-name }}
      panel-config: "configs/suites/daily/4N/GCP-Daily-Hotspot-4N.json"
    secrets:
      access-token: ${{ secrets.PLATFORM_GH_ACCESS_TOKEN }}
      jrs-ssh-user-name: ${{ secrets.PLATFORM_JRS_SSH_USER_NAME }}
      jrs-ssh-key-file: ${{ secrets.PLATFORM_JRS_SSH_KEY_FILE }}
      gcp-project-number: ${{ secrets.PLATFORM_GCP_PROJECT_NUMBER }}
      gcp-sa-key-contents: ${{ secrets.PLATFORM_GCP_KEY_FILE }}
      slack-api-token: ${{ secrets.PLATFORM_SLACK_API_TOKEN }}
    needs:
      - misc
    if: ${{ !cancelled() && always() }}
